Flask==3.0.0
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-SocketIO==5.3.5
psycopg2-binary==2.9.9
kubernetes==28.1.0
bcrypt==4.1.1
python-dotenv==1.0.0
gunicorn==21.2.0
prometheus-flask-exporter==0.23.0
python-socketio==5.10.0
eventlet==0.33.3
Werkzeug==3.0.1
